# Numpy

Proyecto de código abierto que se puede encontrar.

Se suele encontrar en pypi.org

y se instalan con pip3 install numpy

FRAMEWORK: Navaja suiza con muchas herramientas
LIBRERÍA: Cuchillo. Única función específica. 

Numpy es una libería para gestionar matrices y vectores de n dimensiones con datos numéricos.

In [1]:
import numpy as np

In [2]:
np.random.random((4,4)).round(2)

array([[0.73, 0.78, 0.06, 0.42],
       [0.06, 0.72, 0.29, 0.15],
       [0.58, 0.03, 0.03, 0.01],
       [0.87, 0.94, 0.63, 0.9 ]])

https://docs.scipy.org/doc/numpy/reference/


# Pandas

Tratamiento de datos bidimensionales: Filas y columnas.

SERIE: Como una lista de datos

DATAFRAME: Conjunto de series. Se puede imaginar como tabla de datos en el que las filas son series.

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.DataFrame(np.random.random((3,3)))

          0         1         2
0  0.376555  0.884690  0.032210
1  0.873478  0.419731  0.321177
2  0.253891  0.047387  0.801067

In [5]:
df = pd.DataFrame(np.random.random((3,3))).round(2)

In [6]:
#display es una función de Jupyter para evitar el print
display(df)

      0     1     2
0  0.69  0.12  0.52
1  0.96  0.45  0.68
2  0.35  0.33  0.10

In [7]:
print(df)

      0     1     2
0  0.69  0.12  0.52
1  0.96  0.45  0.68
2  0.35  0.33  0.10

In [10]:
df = pd.DataFrame(np.random.random((3,3)),columns=["A","B","C"])

In [11]:
b = df["A"]
print(type(df),type(b))
print(b)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>
0    0.792127
1    0.107331
2    0.258080
Name: A, dtype: float64

## b es una serie que de lo único que se distingue de un numpy array de 1 dimensión en que tiene indice

documentación de pandas: https://pandas.pydata.org/pandas-docs/stable/

Para sacar info de un csv es importante no utilizar rutas absolutas. Sólo rutas relativas a la carpeta donde se tiene el Jupyter Notebook. 

Cuandos se concatena los indices se guardan del DataFrame original. 

## Loc selecciona los del índice original e iloc selecciona los del indice del concatenado

Para hacer los filtros tenemos que obtener valores true dentro de una serie. Usando operadores & y | como and y or. 

Para hacer recuentos df["Type 1"].value_counts() agrupa y suma por categorías.

# df.describe() te da toda la información estadística de un DataFrame. 

df.min()

df.Attack.hist() Eje horizontal = Valores. Eje vertical = Repeticiones.